@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');


body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}


::-webkit-scrollbar{
  display: none;
}

#main_container{
  width: 100%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.input_btn{
  min-width: 125px;
  margin: 5px;
  background-color: #fff;
}

.input_btn:hover{
  background-color: #000;
  color: #fff;
}

.input_btn:active{
  background-color: #000;
  color: #fff;
}


.myBox{
  width: 90px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
